@import "header";
@import "nav";
@import "home";

a:hover {
  text-decoration: none;
}

.question {
  margin: 30px auto;
}

.attach {
  display: flex;
  align-items: center;
}

.flex {
  display: flex !important;
  align-items: center;
  justify-content: center;

  & > * {
    flex-basis: 0;
    flex-grow: 1;
  }
}

.hidden {
  display: none !important;
}
