header {
  background-color: #112e51;
  color: white;
}

.text-center {
  display: block;
  text-align: center;
}

a:visited {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

nav {
  padding: 10px 0;
  color: darkgray;
  background-color: lightgray;
}

nav ul {
  margin: 0 auto;
  list-style-type: none;

  & > li {
    &:before {
      content: none;
    }

    margin: auto 20px;
    display: inline-block;
  }
}

.active {
  color: black !important;
  border-bottom: thick solid black;
}